<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal - SS</title>    
    <link rel="stylesheet" href="../css/style3.css">
    <link rel="icon" type="image/png" href="SchoolSnackPrototipo.png">
</head>
<body>
    <ul id="menu">
        <li>
            <a href="#">Elemento dos</a>
            <ul class="submenu">
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Elemento Tres</a>
            <ul class="submenu">
                <li><a href="../views/post.html">Posts</a></li>
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Acerca de Nosotros</a>
            <ul class="submenu">
                <li><a href="Introducción.html">Introducción</a></li>
                <li><a href="Objetivo.html">Objetivo</a></li>
                <li><a href="Misión.html">Misión</a></li>
                <li><a href="Visión.html">Visión</a></li>
                <li><a href="Lineamientos.html">Lineamientos Politicos</a></li>
                <li><a href="Portafolio.html">Portafolio</a></li>
            </ul>
        </li>
        <div class="ss">
            <a href="paginaprincipal.html"><img src="../imagenes/SchoolSnackPrototipo.png" width="70"></a>
        </div>
    </ul>
    <h2>¡Bienvenidos a la pagina principal de <span>SchoolSnack!</span></h2>
    <h2>Proyecto PPI: Tienda Escolar</h2>
    <div class="caja1">
        <img src="../imagenes/pngtree-isolated-burger-on-transparent-background-png-image_9055072.png" class="producto-img"> 
        <a href="../views/producto1.html" class="producto-btn" alt="Producto 1" >Ver Producto</a>
    </div>
    <div class="caja2">
        <img src="../imagenes/coca cola.png" class="producto-img"> 
        <a href="../views/producto2.html" class="producto-btn" alt="Producto 1" >Ver Producto</a>
    </div>
    <div class="caja3">
        <img src="../imagenes/panzeroti.png" class="producto-img"> 
        <a href="../views/producto3.html" class="producto-btn" alt="Producto 1" >Ver Producto</a>
    </div>
    <div class="caja4">
        <img src="../imagenes/Empanada.png" class="producto-img"> 
        <a href="../views/producto4.html" class="producto-btn" alt="Producto 1" >Ver Producto</a>
    </div>
    <div class="caja5">
        <img src="../imagenes/Colombiana.png" class="producto-img"> 
        <a href="../views/producto5.html" class="producto-btn" alt="Producto 1" >Ver Producto</a>
    </div>
    <div class="caja6">
        <img src="../imagenes/Hit (bebida).png" class="producto-img"> 
        <a href="../views/producto6.html" class="producto-btn" alt="Producto 1" >Ver Producto</a>
    </div>
    <div class="caja7">
        <img src="../imagenes/Palitos de queso.png" class="producto-img"> 
        <a href="../views/producto7.html" class="producto-btn" alt="Producto 1" >Ver Producto</a>
    </div>
    <div class="caja8">
        <img src="../imagenes/Papa rellena.png" class="producto-img"> 
        <a href="../views/producto8.html" class="producto-btn" alt="Producto 1" >Ver Producto</a>
    </div>
    <div class="caja9">
        <img src="../imagenes/Pastel de pollo.png" class="producto-img"> 
        <a href="../views/producto9.html" class="producto-btn" alt="Producto 1" >Ver Producto</a>
    </div>
    <br>
    <br>
</body>
</html>
