<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal - SS</title>    
    <link rel="stylesheet" href="../css/style3.css">
    <link rel="icon" type="image/png" href="/assets/imagenes/SchoolSnackPrototipo.png">
</head>
<body>
    <header>
        <nav>
          <img src="/assets/imagenes/SchoolSnackPrototipo.png" width="75" id="logo-nav"></a>
            <a href="">Elemento Uno</a>
            <a href="">Elemento Dos</a>
            <a href="">Acerca de Nosotros</a>
          </nav>        
    </header>
    <main>
        <section id="bienvenida-inicio">
            <h2 id="bienvenida-h2">¡Bienvenidos a la pagina principal de SchoolSnack!</h2>
            
        </section>

        <section id="lista-fondo">
            <h2 id="lista-h2">Lista de Productos</h2>
        </section>

   <section id="container">
    <div class="caja-1">
        <div class="imagen">
            <img src="/assets/imagenes/Empanada.png" alt="Empanada">
        </div>
        <div class="nombre-producto">
            <p>Empanada</p>
        </div>
        <a class="btn-comprar" href="producto1.html">Comprar</a>>
    </div>
    <div class="caja-2">
        <div class="imagen">
            <img src="/assets/imagenes/Palitos de queso.png" alt="Palitos de queso">
        </div>
        <div class="nombre-producto">
            <p>Palito De Queso</p>
        </div>
        <a class="btn-comprar" href="producto1.html">Comprar</a>
    </div>
    <div class="caja-3">
        <div class="imagen">
            <img src="/assets/imagenes/panzeroti.png" alt="Panzerotti">
        </div>
        <div class="nombre-producto">
            <p>Panzerotti</p>
        </div>
        <a class="btn-comprar" href="producto1.html">Comprar</a>
    </div>
    <div class="caja-4">
        <div class="imagen">
            <img src="/assets/imagenes/Papa rellena.png" alt="Papa Rellena">
        </div>
        <div class="nombre-producto">
            <p>Papa Rellena</p>
        </div>
        <a class="btn-comprar" href="producto1.html">Comprar</a>
    </div>
    <div class="caja-5">
        <div class="imagen">
            <img src="/assets/imagenes/Pastel de pollo.png" alt="Pastel de Pollo">
        </div>
        <div class="nombre-producto">
            <p>Pastel de Pollo</p>
        </div>
        <a class="btn-comprar" href="producto1.html">Comprar</a>
    </div>
    <div class="caja-6">
        <div class="imagen">
            <img src="/assets/imagenes/coca cola.png" alt="Coca Cola">
        </div>
        <div class="nombre-producto">
            <p>Coca Cola</p>
        </div>
        <a class="btn-comprar" href="producto1.html">Comprar</a>
    </div>
    <div class="caja-7">
        <div class="imagen">
            <img src="/assets/imagenes/Colombiana.png" alt="Colombiana">
        </div>
        <div class="nombre-producto">
            <p>Colombiana</p>
        </div>
        <a class="btn-comprar" href="producto1.html">Comprar</a>
    </div>
    <div class="caja-8">
        <div class="imagen">
            <img src="/assets/imagenes/Hit (bebida).png" alt="Jugos Hits">
        </div>
        <div class="nombre-producto">
            <p>Jugos Hit</p>
        </div>
        <a class="btn-comprar" href="producto1.html">Comprar</a>
    </div>
    <div class="caja-9">
        <div class="imagen">
            <img src="/assets/imagenes/Pepsi.png" alt="Pepsi">
        </div>
        <div class="nombre-producto">
            <p>Pepsi</p>
        </div>
        <a class="btn-comprar" href="producto1.html">Comprar</a>
    </div>
    <div class="caja-10">
    </div>
    <div class="caja-11">

    </div>
    <div class="caja-12"></div>
    <div class="caja-13"></div>
    <div class="caja-14"></div>
    <div class="caja-15"></div>
    <div class="caja-16"></div>
    <div class="caja-17"></div>
    <div class="caja-18"></div>
    <div class="caja-19"></div>
    <div class="caja-20"></div>
</section>

    </main>
    <footer>
        <a href="">Facebook</a>
        <a href="">X</a>
        <a href="">Instagram</a>
        <p id="derechos-autor">Derechos Reservados al Autor. ®</p>
    </footer>
</body>
</html>
