<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago</title>
    <link rel="stylesheet" href="../css/pago.css">
    <link rel="icon" type="image/png" href="../imagenes/SchoolSnackPrototipo.png">
</head>
<body>
    <section id="seccion-1">
        <div class="img-producto">
            <img src="/assets/imagenes/pngtree-isolated-burger-on-transparent-background-png-image_9055072.png" id="img-producto">
        </div>
        <div class="parte-1">
            <h2>Cantidad:</h2>
            <h2>Producto:</h2>
        </div>
        <div class="monto-a-pagar">
            <h1>MONTO A PAGAR:</h1>
        </div>
        <div class="metodos-de-pago">
            <h1>METODOS DE PAGO</h1>
            <div id="metodo1">
                <input type="checkbox">
            </div>
            <div id="metodo2">
                <input type="checkbox">
            </div>
            <div id="metodo3">
                <input type="checkbox">
            </div>
            <div id="metodo4">
                <input type="checkbox">
            </div>
            <div class="Comprar">
                <button>COMPRAR</button>
            </div>
        </div>
        <div class="datos-persona">
            <h1>Datos Personales</h1>
            <input type="text" id="Nombre" placeholder="Nombre Completo">
            <input type="text" id="Identificación" placeholder="Identificación">
            <input type="text" id="Correo-Electronico" placeholder="Correo Electronico">
            <input type="text" id="Grado" placeholder="Grado">
            <input type="text" id="Numero-de-telefono" placeholder="Numero de telefono">
        </div>
        <div class="logos">
            <img src="/assets/imagenes/SchoolSnackPrototipo.png">
        </div>
    </section>
</body>
</html>