<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio - SS</title>    
    <link rel="stylesheet" href="../css/style9.css">
    <link rel="icon" type="image/png" href="SchoolSnackPrototipo.png">
</head>
<body>
    <ul id="menu">
        <li>
            <a href="#">Elemento dos</a>
            <ul class="submenu">
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Elemento Tres</a>
            <ul class="submenu">
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Acerca de Nosotros</a>
            <ul class="submenu">
                <li><a href="Introducción.html">Introducción</a></li>
                <li><a href="Objetivo.html">Objetivo</a></li>
                <li><a href="Misión.html">Misión</a></li>
                <li><a href="Visión.html">Visión</a></li>
                <li><a href="Lineamientos.html">Lineamientos Politicos</a></li>
                <li><a href="Portafolio.html">Portafolio</a></li>
            </ul>
        </li>
        <div class="ss">
            <a href="paginaprincipal.html"><img src="../imagenes/SchoolSnackPrototipo.png" width="70"></a>
        </div>
    </ul>

    <section>
        <img src="../imagenes/1.jpeg">
        <img src="../imagenes/2.jpeg">
        <img src="../imagenes/3.jpeg">
        <img src="../imagenes/4.jpeg">
        <img src="../imagenes/5.jpeg">
        <img src="../imagenes/6.jpeg">
        <img src="../imagenes/7.jpeg"   >
        <img src="../imagenes/8.jpeg">
        <img src="../imagenes/9.jpeg">
    </section>