<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/producto1.css">
    <title>PRODUCTO 1</title>
</head>
<body>
    <ul id="menu">
        <li>
            <a href="#">Elemento dos</a>
            <ul class="submenu">
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Elemento Tres</a>
            <ul class="submenu">
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Acerca de Nosotros</a>
            <ul class="submenu">
                <li><a href="Introducción.html">Introducción</a></li>
                <li><a href="Objetivo.html">Objetivo</a></li>
                <li><a href="Misión.html">Misión</a></li>
                <li><a href="Visión.html">Visión</a></li>
                <li><a href="Lineamientos.html">Lineamientos Politicos</a></li>
                <li><a href="Portafolio.html">Portafolio</a></li>
            </ul>
        </li>
        <div class="ss">
            <a href="paginaprincipal.html"><img src="../imagenes/SchoolSnackPrototipo.png" width="70"></a>
        </div>
    </ul>
    <section>
        <img src="../imagenes/pngtree-isolated-burger-on-transparent-background-png-image_9055072.png">

    </section>

    <h2>HAMBURGUESA</h2>
    <p>PRECIO: 3500$</p>
    
    <div>
        <a href="pago.html" class="comprar">Comprar producto</a>
    </div>

</body>
</html>