<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/producto1.css">
    <title>PRODUCTO 1</title>
</head>
<body>
    <header>
        <nav>
          <img src="/assets/imagenes/SchoolSnackPrototipo.png" width="75" id="logo-nav"></a>
            <a href="">Elemento Uno</a>
            <a href="">Elemento Dos</a>
            <a href="">Acerca de Nosotros</a>
          </nav>        
    </header>

    <section class="imagen-producto">
        

    </section>

    <section class="informacion-producto">
        <h2>HAMBURGUESA</h2>
        <p>PRECIO: 3500$</p>
    </section>
    
    <div class="contenedor-comprar">
        <a href="pago.html" class="comprar">Comprar producto</a>
    </div>

    <footer>
        <a href="">Facebook</a>
        <a href="">X</a>
        <a href="">Instagram</a>
        <p id="derechos-autor">Derechos Reservados al Autor. ®</p>
    </footer>
</body>
</html>