@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
    background-image: linear-gradient(to right, rgb(255, 221, 153), rgb(255, 170, 170));
}

#menu li {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    padding: 25px;
    position: relative; 
}

#menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#menu li a:hover {
    color: red;
}

#menu {
    display: flex;
    justify-content: space-around;
    margin: 25px;
    border-radius: 10px;
    padding: 25px;
    background-color: rgb(255, 153, 102);
}

.submenu {
    z-index: 100;
    display: none;
    position: absolute; 
    background-color: rgb(255, 153, 102);
    border: 2px solid rgb(255, 221, 153);
    border-radius: 10px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#menu li:hover .submenu {
    display: block;
}


.container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px;
  }
  
  .post {
    background-color: #008000;
    width: 500px;
    height: 410px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
  }
  
  .caja {
    display: flex;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(255, 170, 80);
    width: 500px;
    height: 370px;
  }

  .imagen {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #0000ff;
    width: 300px;
    height: 200px;
    border-radius: 20px;
  }

  .imagen img {
    width: 150px;
    display: flex;
    margin: 0 auto;
  }

  @media (max-width: 480px) {
  
    input[type="submit"] {
      width: 100%;
    }
  
    nav {
      float: none;
      text-align: center;
    }
  
    nav a {
      margin: 10px;
    }
  }
  
  @media (min-width: 1368px) {
 
  }