@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
  background-color: rgb(254, 219, 114);
}

* {
font-family: 'Montserrat', sans-serif;
}


nav {
display: flex;
gap: 7rem;
padding: 3rem; 
justify-content: space-evenly;

}

nav a {
display: flex;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
color: white;
}

.imagen-producto {
    border-radius: 100px;
    background-color: white;
    width: 31.3rem;
    height: 31.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

.imagen-producto img {
    position: absolute;
    display: flex;
    width: 25rem;
    text-align: center;
    justify-content: center;
}

.contenedor-comprar {
  display: flex;
  justify-content: center;
  align-items: center;
}



.comprar {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 15rem;
  background-color: rgb(255, 155, 100);
  color: white;
  padding: 15px;
  text-decoration: none;
  border-radius: 50px;
}

.pie-pagina{
  width: 100%;
  background-color: rgb(255, 155, 100);
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 120px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: rgb(254, 142, 82);
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: rgb(254, 219, 114);
}
.pie-pagina .grupo-2{
  background-color: rgb(254, 142, 82);
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}

#derechos-autor {
  color: rgb(255, 155, 100);
}

footer a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

footer a:hover {
  color: rgb(255, 155, 100);
}

body.scrolled-down header {
  top: -100px; /* o el valor que prefieras */
}

body.scrolled-up header {
  top: 0;
}