@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
    background-color: rgb(254, 219, 114);
}

* {
  font-family: 'Montserrat', sans-serif;
}


nav {
  display: flex;
  gap: 7rem;
  padding: 3rem; 
  justify-content: space-evenly;

}

nav a {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
}

#bienvenida-h2 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(255, 155, 100);
}

#lista-prod {
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 155, 100);
  text-align: center;
}

#lista-fondo {
  position: relative;
  background-color: white;
  width: 18rem;
  height: 1.8rem;
  border-radius: 10px;
  text-align: center;
}

.caja-1 {
  display: flex;
  top: 25px;
  background-color: white;
  width: 13rem;
  height: 13rem;
  border-radius: 10px;
}

footer {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  align-content: end;
}

#derechos-autor {
  color: white;
  align-content: center;
  justify-content: center;
  text-align: center;
}

footer a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

footer a:hover {
  color: rgb(255, 155, 100);
}


@media (max-width: 480px) {
    
  #bienvenida-inicio {
    width: fit-content;
    height: fit-content;
  }  

  #bienvenida-h2 {
    font-size: fit-content;
  }


  }
  
  @media (min-width: 1368px) {
   
    #bienvenida-inicio {
      width: fit-content;
      height:fit-content;
      
    }  
  
    #bienvenida-h2 {
      font-size: auto;
    }


  }
  