@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
    background-color: rgb(254, 219, 114);
}

* {
  font-family: 'Montserrat', sans-serif;
}


nav {
  display: flex;
  gap: 7rem;
  padding: 3rem; 
  justify-content: space-evenly;

}

nav a {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
}

#bienvenida-h2 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}

#lista-prod {
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 155, 100);
  text-align: center;
}

#lista-fondo {
  position: relative;
  background-color: white;
  width: 18rem;
  height: 1.8rem;
  border-radius: 10px;
  text-align: center;
  margin: 1rem ;
}

.caja-1, .caja-2, .caja-3, .caja-4, 
.caja-5, .caja-6, .caja-7, .caja-8, 
.caja-9, .caja-10,
.caja-11, .caja-12, .caja-13, .caja-14,
.caja-15, .caja-16, .caja-17, .caja-18,
.caja-19, .caja-20 {
    display: inline-block;
    text-align: center;
    background-color: white;
    width: 12rem;
    height: 12rem;
    border-radius: 10px;
    margin: 1rem;
    overflow: hidden; 
}

.imagen {
    width: 100%;
    height: 60%; 
    overflow: hidden;
}

.imagen > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.btn-comprar {
  display: block; 
  color: black;
  border-style: none;
  background-color: rgb(255, 155, 100);
  padding: 3px;
  margin: auto; 
  text-decoration: none;
}

footer {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

#derechos-autor {
  color: rgb(255, 155, 100);
}

footer a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

footer a:hover {
  color: rgb(255, 155, 100);
}


@media (max-width: 480px) {
    
  #bienvenida-inicio {
    width: fit-content;
    height: fit-content;
  }  

  #bienvenida-h2 {
    font-size: fit-content;
  }


  }
  
  @media (min-width: 1368px) {
   
    #bienvenida-inicio {
      width: fit-content;
      height:fit-content;
      
    }  
  
    #bienvenida-h2 {
      font-size: auto;
    }


  }
  