@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

/* General styles */
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    padding-top: 5rem;
}

* {
    font-family: 'Montserrat', sans-serif;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
  } 

  .relative img {
    object-fit: cover;
    height: 100%; /* O un valor fijo en píxeles si lo prefieres */
    width: 100%;
    top: 0;
    left: 0;
}

/* Footer */

.pie-pagina{
    width: 100%;
    background-color: rgb(255, 155, 100);
  }
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 120px;
  }
  .pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(254, 142, 82);
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(254, 219, 114);
  }
  .pie-pagina .grupo-2{
    background-color: rgb(254, 142, 82);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }
  @media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
  }
  
  #derechos-autor {
    color: rgb(255, 155, 100);
  }
  
  footer a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
  
  footer a:hover {
    color: rgb(255, 155, 100);
  }
  
  body.scrolled-down header {
    top: -100px; /* o el valor que prefieras */
  }
  
  body.scrolled-up header {
    top: 0;
  }
  
  
  @media (max-width: 480px) {
      
    #bienvenida-inicio {
      width: fit-content;
      height: fit-content;
    }  
  
    #bienvenida-h2 {
      font-size: fit-content;
    }
  
  
    }
    
    @media (min-width: 1368px) {
     
      #bienvenida-inicio {
        width: fit-content;
        height:fit-content;
        
      }  
    
      #bienvenida-h2 {
        font-size: auto;
      }
  
  
    }
    