<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/post.css">
    <title>Document</title>
    <link rel="icon" type="image/png" href="../imagenes/SchoolSnackPrototipo.png">
</head>
<body>
    <ul id="menu">
        <li>
            <a href="#">Elemento dos</a>
            <ul class="submenu">
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Elemento Tres</a>
            <ul class="submenu">
                <li><a href="../views/post.html">Posts</a></li>
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
                <li><a href="">N/A</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Acerca de Nosotros</a>
            <ul class="submenu">
                <li><a href="Introducción.html">Introducción</a></li>
                <li><a href="Objetivo.html">Objetivo</a></li>
                <li><a href="Misión.html">Misión</a></li>
                <li><a href="Visión.html">Visión</a></li>
                <li><a href="Lineamientos.html">Lineamientos Politicos</a></li>
                <li><a href="Portafolio.html">Portafolio</a></li>
            </ul>
        </li>
        <div class="ss">
            <a href="paginaprincipal.html"><img src="../imagenes/SchoolSnackPrototipo.png" width="70"></a>
        </div>
    </ul>
  <div class="container">
    <div class="post">
      <h2>Este es un post</h2>
      <p>Este es el contenido del post.</p>
    </div>
    <div class="caja">
      <input type="text" placeholder="Escribe tu tweet aquí">
      <button>Enviar</button>
    </div>
    <div class="imagen">
      <img src="../imagenes/SchoolSnackPrototipo.png" alt="Imagen de ejemplo">
    </div>
  </div>
</body>
<script>
document.querySelector(".caja button").addEventListener("click", function() {
  var texto = document.querySelector(".caja input").value;
  document.querySelector(".post").innerHTML += texto;
});
</script>
